* {
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#dial-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}

#dial-container > * {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#dial-container > * > * {
    text-align: center;
    white-space: nowrap;
}

#wrapper {
    margin: 0 auto;
    text-align: center;
}

.sensor {
    display: inline-block;
}

.hmidata {
    display: inline-block;
    font-weight: bold;
}

.label {
    display: inline-block;
}

#Wind,
#Nuke,
#Water {
    width: 400px;
    height: 300px;
}

h1 {
    font-family: Arial, Verdana, sans-serif;
    font-weight: bold;
}
